
body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b8daff; /* Sky blue background */
}

#startMenu {
    text-align: center;
}

#gameContainer {
    width: 320px; /* Fixed width for mobile-friendliness */
    height: 480px; /* Fixed height for mobile-friendliness */
    overflow: hidden;
    position: relative;
    background-color: #b8daff;
}

#bird {
    width: 34px;
    height: 24px;
    position: absolute;
    background-color: yellow; /* Placeholder for bird image */
    border-radius: 50%;
    top: 200px;
    left: 50px;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: #fff;
}
